<div class="panel">

    <div class="background">
        <div class="display item">
            <h1>Out of Service</h1>
        </div>  

        <button class="upBtn item btn" type="button">
            <img src="../../../assets/up-arrow.png" alt="up arrow">
        </button>
        
        <button class="downBtn item btn" type="button">
            <img src="../../../assets/down-arrow.png" alt="up arrow">
        </button>

        <!-- <button type="button">Click me</button> -->
        
    </div>
    
</div>