.div-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
  .div-row {
    display: flex;
    flex-direction: row;
    width: 100%; 
    height: 100%; 
  }
  
  .panel-bg {
    width: 50vw;
    height: 70vh;
    background-color: lightgrey;
    display: flex; 
  }
  
  .panel-left {
    width: 45%; 
    height: 65vh;
    background-color: gray;
    margin: 2%;
  }
  
  .panel-right {
    width: 50%; 
    height: 80%;
    background-color: gray;
  }
  